{% extends 'VtesWebsiteBundle:Layouts:base.html.twig' %}

{% block body -%}
    <h1>{{ 'admin.user' | trans }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'players.email' | trans }}</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>VEKN</th>
                <td>{{ entity.vekn }}</td>
            </tr>
            <tr>
                <th>{{ 'players.name' | trans }}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{ 'players.surname' | trans }}</th>
                <td>{{ entity.surname }}</td>
            </tr>
            <tr>
                <th>{{ 'players.country' | trans }}</th>
                <td>{{ entity.country | country }}</td>
            </tr>
            <tr>
                <th>{{ 'players.shirt' | trans }}</th>
                <td>{{ entity.shirt }}</td>
            </tr>
            <tr>
                <th>{{ 'players.roommate' | trans }}</th>
                <td>{{ entity.roommate }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            {{ 'admin.back-to-list' | trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('user_edit', { 'id': entity.id }) }}">
            {{ 'admin.edit' | trans }}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
