{% extends 'VtesWebsiteBundle:Layouts:base.html.twig' %}

{% block title %}{{ 'page.title.main' | trans }} - {{ 'hotel.title' | trans }}{% endblock %}
{% block body %}
    <section id="content">
        {% image '@VtesWebsiteBundle/Resources/public/images/hotel-front.jpg' %}
        <img class="article-image-main" src="{{ asset_url }}" alt="Hotel front">
        {% endimage %}

        <article>
            <h1>{{ 'hotel.title' | trans }}</h1>

            <p>{{ 'hotel.intro.head' | trans }}</p>

            <p>{{ 'hotel.intro.body' | trans }}</p>

            <h1>{{ 'hotel.rooms' | trans }}</h1>

            <p>
                {{ 'hotel.desc' | trans }}

                {% image '@VtesWebsiteBundle/Resources/public/images/hotel-room.jpg' %}
                <img class="article-image-small" src="{{ asset_url }}"
                     alt="Hotel room">
                {% endimage %}
            </p>

            <p>{{ 'hotel.contact' | trans }}</p>

            <p>{{ 'hotel.offer' | trans }}</p>

            <p>
                {{ 'hotel.info' | trans }}
                <a href="http://www.warsawplazahotel.pl/{{ locale }}/" target="_blank">www.warsawplazahotel.pl</a>
            </p>

            <h1>{{ 'hotel.directions' | trans }}</h1>

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2447.718274084393!2d21.001943000000004!3d52.157633!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471932fa7ab29e71%3A0xa2f9a353c45d130e!2sWarsaw+Plaza+Hotel!5e0!3m2!1sen!2spl!4v1427410866081"
                    width="600" height="450" frameborder="0"
                    style="border:0">
            </iframe>
        </article>
    </section>
{% endblock %}
