<nav id="navbar">
    <ul>
        <li>
            <a href="{{ path('homepage') }}">EC 2015</a>
        </li>
        <li>
            <a href="{{ path('program') }}">{{ 'program' | trans }}</a>
        </li>
        <li>
            <a href="{{ path('prizes') }}">{{ 'prizes' | trans }}</a>
        </li>
        <li>
            <a href="{{ path('hotel') }}">Hotel</a>
        </li>
        <li>
            <a href="{{ path('registration') }}">{{ 'registration' | trans }}</a>
        </li>
        <li>
            <a href="{{ path('faq') }}">FAQ</a>
        </li>
        <li>
            <a href="{{ path('warsaw') }}">{{ 'warsaw' | trans }}</a>
        </li>
    </ul>
    <ul class="lang-select">
        <li>
            <a class="lang" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">en</a>
        </li>
        <li>
            <a class="lang" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'pl'})) }}">pl</a>
        </li>
    </ul>
</nav>
