{% extends 'VtesWebsiteBundle:Layouts:base.html.twig' %}

{% block title %}
    {{ 'Registration' | trans }}
{% endblock %}

{% block body -%}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <h1>{{ 'registration.title' | trans }}</h1>
    <div>
        {{ form_label(form.username) }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username) }}
    </div>

    <div>
        {{ form_label(form.vekn) }}
        {{ form_errors(form.vekn) }}
        {{ form_widget(form.vekn) }}
    </div>

    <div>
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>

    <div>
        {{ form_label(form.surname) }}
        {{ form_errors(form.surname) }}
        {{ form_widget(form.surname) }}
    </div>

    <div>
        {{ form_label(form.country) }}
        {{ form_errors(form.country) }}
        {{ form_widget(form.country) }}
    </div>

    <div>
        {{ form_label(form.shirt) }}
        {{ form_errors(form.shirt) }}
        {{ form_widget(form.shirt) }}
    </div>

    <div>
        {{ form_label(form.days) }}
        {{ form_errors(form.days) }}
        {{ form_widget(form.days) }}
    </div>

    <div>
        {{ form_label(form.room) }}
        {{ form_errors(form.room) }}
        {{ form_widget(form.room) }}
    </div>

    <div id="roommate-option">
        {{ form_label(form.roommate) }}
        {{ form_errors(form.roommate) }}
        {{ form_widget(form.roommate) }}
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '@VtesWebsiteBundle/Resources/public/js/user.form.min.js' %}
    <script src='{{ asset_url }}'></script>
    {% endjavascripts %}
{% endblock %}
